<div class="container">
	<div class="product-container">

		<div class="row">
			<div class="col-md-12">
				<h1>Product 1</h1>
			</div>
		</div>

			<div class="row">
				<div class="col-sm-8">
					<%= image_tag("PS4.jpg", alt: "PS4", class: "product_image") %>
				</div>

				<div class="col-sm-4">
					<button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</button>
				</div>
			</div>

			<div class="row">
				<h2>Product Details</h2>
			</div>
	</div>
</div>